input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.face input,
.face button{
  border-top: 1px solid #694500;
  border-right: 1px solid #694500;
  border-bottom: 4px solid #694500;
  border-left: 4px solid #694400;
  background-color: #905200;
  outline:none;
  box-sizing: border-box;
}
.eye{
  display:inline-block;
  position: absolute;
  top: 30%;
  width: 40px;
  height: 30px;
  padding: 0;
}
.eye:nth-child(1){
  left:40px;
}
.eye:nth-child(2){
  right:40px;
}

.eye:hover,
.eye:active{
  border-color:black;
}
.nose {
  height:15%;
  width:10%;
  position: absolute;
  left:0;
  top: 45%;
  margin: 0 45%;
  text-align: center;
  color:transparent;
  font-size:0px;
  border-radius: 10%;
}
.nose:hover{
  border-color:black;
}
.nose:active{
  border-color:red;
}

.mouth {
  height:25px;
  width:50%;
  position: absolute;
  top: 70%;
  left:0;
  color: red;
  padding:2px;
  text-align:center;
  margin: 0 25%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.mouth:hover,
.mouth:active{
  border-color:black;
}
