* {
  font-family: sans-serif;
}

body {
  padding: 2rem;
}

.success {
  border: solid thin green;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: green;
}

.failure {
  border: solid thin red;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: red;
}
