#debug {
	background-color: khaki;
    padding:1em;
    display:none;
}

.grid-container {
	font-family: 'Slabo 27px', serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Slabo 27px', serif;
}


.button.delete{
	background-color: salmon;
}
.button.add{
	background-color: limegreen;
}
.button.save{
	background-color: goldenrod;
}
.button.cancel{
	background-color: darksalmon;
}
