body {
  background-color: #ddd;
  color: #777;
  font-family: sans-serif;
  padding: 20px;
  font-size: 15px;
}

h1, h2, a {
  color: #ec9d00;
}
h3, h4{
  color:#daa337;
}
article>header{
  padding:20px 20px 0px 20px;
}
section{
  padding: 20px 40px 50px 40px;
  margin: 10px auto 20px auto;
  border-radius:3px;
  box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,0.3);
  background-color:#eee;
  color: #444;
}

footer {
  font-size: 80%;
  border-top: 1px solid #999;
  box-shadow: 0px -1px 0px 0px #444;
}

label {
  display: block;
  font-size:80%;
  margin-bottom: 3px;
}

input {
  display: block;
  padding: 3px;
}

button{
  margin: 10px auto;
  padding: 4px 15px;
  border: 1px solid white;
  background-color: #444;
  color: white;
}

button:hover{
  background-color: orange;
}
li{
  list-style:none;
  margin: 5px 0;
}
#status{
  padding: 5px 15px;
  border:1px solid orange;
  color:#222;
  background-color:#fff;
  margin:auto;
  display:none;
  position: fixed;
  width:auto;
  top:40px;
  left:40px;
  right:40px;
}
#status.error{
  border-color: red;
}
#status.success{
  border-color:#659a00;
}
.hide {display: none;}